// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

body {
  background-color: rgb(173, 173, 173);
   // See _variable-overrides.scss for $font-size_scale
  font-size: 100% * $font-size_multiplier; 
}

// See _variable-overrides.scss for $base-font
html {
    font-size: $base-font * 1.2;
}
h1 {
    font-size: $base-font * 2;
}

// Bootstrap container
.main-holder {
  background-color: #fff;   // Page BG color
}

// Bootstrap container to full width when toggled hamburger menu
@media (max-width: 992px) {
  .main-holder {
    max-width: 100%;
  }
}

.hero {
  height: 150px;    // Predefined height on hero
}

  // Floating elements holder
.search-in-hero-holder {
  position: relative;
}

// Some styling for the searchfield and button in navbar
.search-in-hero {
  width: 40%;
  top: 8px;
  right: 0px;
  color: rgb(0,0,0);
  position: absolute;
  top: -135px;   // Adjust this accordingly depending on hero images pixel height

  // No hamburger normal menu 
  @media (min-width: 992px) {
    .icofont-search.navbar-search-icon {
      color: rgb(0,0,0);    // Adjust to other color (unused at this moment)
    }
  }

  // Move searchform below navbar when toggled hamburger menu
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    top: 10px;
    left: 15px;
    margin-bottom: 20px;
  }

  span {
    font-size:40%;
  }
}

.navbar-custom {
  // I felt this needs to be static size for small screen toggle and accessability (browser zoom compatability)
  font-size: 25px
}

// Some carousel styling
.carousel-title-holder { // Floating elements holder
    position: relative; 
    width: 50%
}
.carousel-title-container {
  position: absolute; 
  width: 500px; 
  right: -250px; 
  top: 20px; 
  color: #FFFFFF; 
  text-align: center;
  z-index: 9999; 
}
.carousel-title-text {
  font-weight: 600;
}
.carouselAdj {
  font-size: smaller;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}