// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

body {
  background-color: rgb(173, 173, 173);
   // See _variable-overrides.scss for $font-size_scale
  font-size: 100% * $font-main-multiplier; 
}

// See _variable-overrides.scss for $base-font
html {
    font-size: $base-font * 1.2;
}

.footer {
  background-color: rgb(145, 145, 145);
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

// Bootstrap container
.main-wrapper {
  background-color: #fff;   // Page BG color
}

// Bootstrap container to full width when toggled hamburger menu
@media (max-width: 992px) {
  .main-wrapper {
    max-width: 100%;
  }
}

// Floating elements holder/wrapper
.hero-title-wrapper {
  border-bottom-color: black;
border-bottom: 2px;
}

.hero-title {
  position: absolute;
  font-family: Great Vibes; 
  font-weight: 500;
  font-size: 80px;   // Setting stativ size
  top: 20px;
  margin-left: 40px;
}

// Floating elements holder/wrapper
.search-in-hero-relative-wrapper {
  position: relative;
}

// Some styling and media toggle for the searchfield and button in navbar
.search-in-hero {
  width: 40%;
  top: 8px;
  right: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -150px;   // Adjust this accordingly depending on hero images pixel height

  // No hamburger normal menu 
  @media (min-width: 992px) {
    .icofont-search.navbar-search-icon {
      color:#000;    // Adjust to other color (unused at this moment)
    }
  }

  // Move searchform below navbar when toggled hamburger menu
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    top: 10px;
    left: 15px;
    margin-bottom: 20px;
  }

  span {
    font-size:40%;
  }
}

.navbar-custom {
  // I felt this needs to be static size for small screen toggle and accessability (browser zoom compatability)
  font-size: 25px;
  font-weight: 600;
}

.navbar-menutext {
  font-family: Great Vibes; 
}

// Some carousel styling
.carousel-relative-wrapper { // Floating elements wrapper/holder
  position: relative; 
  width: 50%;
  height:100%
}

// Wrapper. Ugly fix for centering. Bootstrap might have premade solution. Check all wrappers later on /Rikard
.carousel-title-container {
  position: absolute; 
  width: 858px; 
  right: -429px; 
  height: 200px;
  background-image: url(/images/Semora_Orn_Top.png);
  z-index: 9991;
  text-align: center; 
}

.carousel-title-text {
  margin-top: 10px;
}

.carousel-ornament-bottom {
  position: absolute; 
  width: 1055px; 
  height: 228px;
  right: -527px; 
  bottom: 0px; 
  background-image: url(/images/Semora_Orn_Bottom.png);
}

.carousel-caption {   // Override default bootstrap
  color: #000000;
  bottom: -25px;
}

.carousel-inner {   // Override default bootstrap
  overflow: hidden;
}

.carousel-indicators {   // Override default bootstrap
  bottom: -60px;
}

.carouselAdj {
  font-size: smaller;
}

.carousel-indicators li {   // Override default bootstrap
background-color: #000;
}

//@media (min-width: 576px) and (max-width: 992px) {
  .estate-card {
    width: 50rem;
  }
//}

@media (min-width: 992px) {
  .estate-card {
    width: 18rem;
  }
}
@media (max-width: 576px) {
  .estate-card {
    width: 60rem;
  }
}

// Google map
.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }