// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}

body {
  background-color: rgb(173, 173, 173);
}

// Bootstrap container
.main-holder {
  background-color: #fff;   // Page BG color
}

// Bootstrap container to full width when toggled hamburger menu
@media (max-width: 992px) {
  .main-holder {
    max-width: 100%;
  }
}

.hero {
  height: 150px;    // Predefined height on hero
}

  // Floating elements holder
.search-in-hero-holder {
  position: relative;
}

// Some styling for the searchfield and button in navbar
.search-in-hero {
  width: 40%;
  top: 8px;
  right: 0px;
  color: rgb(0,0,0);
  position: absolute;
  top: -110px;   // Adjust this accordingly depending on hero images pixel height

  // No hamburger normal menu 
  @media (min-width: 992px) {
    .icofont-search.navbar-search-icon {
      color: rgb(0,0,0);    // Adjust to other color (unused at this moment)
    }
  }

  // Move searchform below navbar when toggled hamburger menu
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    top: 10px;
    left: 15px;
    margin-bottom: 20px;
  }

  span {
    font-size:40%;
  }
}

// Some carousel styling
.carousel-title-holder { // Floating elements holder
    position: relative; 
    width: 50%
}
.carousel-title-container {
  position: absolute; 
  width: 500px; 
  right: -250px; 
  top: 20px; 
  color: #FFFFFF; 
  text-align: center;
  z-index: 9999; 
}
.carousel-title-text {
  font-weight: 600;
}
.carouselAdj {
  font-size: smaller;
}