$primary: rgb(46, 52, 65);

// Lets set a base size... liksom eller nåt!
$base-font: 1em;

$font-family-sans-serif: Cormorant;
$font-family-base: Cormorant;

// Attention! This is the main font-size multiplier. Our default is 1em * 1.25
$font-main-multiplier: 1.25;
